<div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Register</h2>
        <br>
        {{user.firstName}}
        <form>
          <div class="well">
            <div align="left">
              <h4>Contact</h4>
            </div>
            <hr>
            <div class="form-group">
              {{input class="form-control" value=name id='name' placeholder='Daycare Name'}}
            </div>
            <div class="form-group">
              {{input class="form-control" value=address id='address' placeholder='Address'}}
            </div>
            <div class="form-group">
              {{input class="form-control" value=email id='email' placeholder='Email'}}
            </div>
            <div class="form-group">
              {{input class="form-control" value=phone id='phone' placeholder='Phone'}}
            </div>
            <div class="form-group">
              {{input class="form-control" value=website id='website' placeholder='Website'}}
            </div>
            <hr>
            <div align="left">
              <h4>Daycare Details</h4>
            </div>
            <hr>
            <div class="form-group">
              {{input class="form-control" value=waitlist id='waitlist' placeholder='Enter Approx Wait Time'}}
            </div>
            <div class="form-group">
              {{input class="form-control" value=ratio id='ratio' placeholder="Child:Caregiver"}}
            </div>
            <div class="form-group">
              {{textarea class="form-control" value=certifications id='certifications' placeholder='Certifications'}}
            </div>
            <div class="form-group">
              {{input class="form-control" value=hours id='hours' placeholder='Hours'}}
            </div>
            <div class="form-group">
              {{textarea class="form-control" value=mission id='mission' placeholder='Mission'}}
            </div>
            <div class="form-group">
              {{textarea class="form-control"value=description id='description' placeholder='Description'}}
            </div>
            <hr>
            <div align="left">
              <h4>Images</h4>
            </div>
            <hr>
            <div class="form-group">
              {{input class="form-control" value=image1 id='image1' placeholder='Image 1'}}
            </div>
            <div class="form-group">
              {{input class="form-control" value=image2 id='image2' placeholder='Image 2'}}
            </div>
            <div class="form-group">
              {{input class="form-control" value=image3 id='image3' placeholder='Image 3'}}
            </div>
            <div class="form-group">
              {{input class="form-control" value=image4 id='image4' placeholder='Image 4'}}
            </div>
            <div class="form-group">
              {{input class="form-control" value=image5 id='image5' placeholder='Image 5'}}
            </div>
            <button class="btn btn-primary"{{action 'addDaycare' placeholder=''}}>Add your daycare!</button>
          </div>
        </form>
      </div>
  </div>
</div>

{{yield}}
