<div class="col-md-4">
  <div class="class-tile">
    {{class.name}}
    <img src={{class.image}}>
    <li>Ages: {{class.ages}}</li>
    <li>Description: {{class.description}}</li>
    <li>Schedule: {{class.schedule}}</li>
    <li>Child-to-Caregiver Ratio: {{class.ratio}}</li>
  </div>
</div>


{{yield}}
