
  <div class="col-md-4">
    <img class="img-circle img-responsive img-center" src="{{teacher.image}}">
    <h3>{{teacher.name}}</h3>
    <li>Education: {{teacher.education}}</li>
    <li>Experience: {{teacher.experience}}</li>
    <li>About: {{teacher.about}}</li>
    <li>Certifications: {{teacher.certifications}}</li>
    <li>Years at: {{teacher.daycare.name}}{{teacher.years}}</li>

  </div>





{{yield}}
