<div class="container">
  <div class="col-md-4 hero-feature">
    <li>Name: {{teacher.name}}</li>
    <li>Education: {{teacher.education}}</li>
    <li>Experience: {{teacher.experience}}</li>
    <li>About: {{teacher.about}}</li>
    <li>Certifications: {{teacher.certifications}}</li>
    <li>Years at: {{teacher.daycare.name}}{{teacher.years}}</li>
    <img src="{{teacher.image}}">

  </div>
</div>




{{yield}}
