<button type="button" class="btn btn-default" data-toggle="modal" data-target= "#{{teacher.id}}">
  {{teacher.name}}
</button>

<div class="modal fade" id={{teacher.id}} tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{teacher.name}}</h4>
      </div>
      <div class="modal-body">
        <li>Education: {{teacher.education}}</li>
        <li>Experience: {{teacher.experience}}</li>
        <li>About: {{teacher.about}}</li>
        <li>Certifications: {{teacher.certifications}}</li>
        <li>Years at: {{teacher.daycare.name}}{{teacher.years}}</li>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
