<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="nav navbar-nav navbar-left">

      <li id="brand">{{#link-to 'index'}}<span id='daycare'>Daycare</span><span id='share'>Share </span><i class="fa fa-child"> </i><i class="fa fa-child"></i><i class="fa fa-child"></i>{{/link-to}}</li>
    </div>

      <div class="nav navbar-nav navbar-right">

        {{#if session.isAuthenticated}}
          <li><div class="nav-name">Logged in as {{model.firstName}}</div></li>
          <li>
            <div class="btn-group">
              <div class="navLinks"><button class="btn btn-default dropdown-toggle btn btn btn-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Daycares <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  {{#each model.daycares as |daycare|}}
                    <li>{{#link-to 'daycare' daycare.id}}{{daycare.name}}{{/link-to}}</li>
                  {{/each}}
                  <li role="separator" class="divider"></li>
                  <li>{{#link-to 'new-daycare'}}<span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Add Daycare{{/link-to}}</li>
                </ul></div>
            </div></li>
        {{/if}}
        {{#if session.isAuthenticated}}
          <li><div class="navLinks"><button class="btn btn-link"{{action "signOut"}}>Sign out</button></div></li>
        {{else}}
        <li><div class="navLinks">{{login-modal method="signUp" signUp="signUp" showExtras=true }}</div></li>
        <li><div class="navLinks">{{login-modal method="signIn" signIn="signIn" showExtras=false }}</div></li>
        {{/if}}
      </div>

  </div>
</nav>


  {{outlet}}
