<center><h1>{{model.name}}</h1></center>
<center><p>
  {{#if (eq session.uid model.user.id)}}
  {{edit-modal daycare=model saveChanges='saveChanges'}}
  {{/if}}
</p></center>
{{daycare-carousel daycare=model}}
<center><h2><i>"{{model.mission}}"</i></h2></center>
<hr>

<aside class="call-to-action" id="bg-primary">
  <div class="container">
    <div class="row">
      {{model.description}}
    </div>
  </div>
</aside>

<hr>

<div class="container">
  <div class="row">
    <div class="col-md-4 hero-feature">
      <div class="thumbnail">
        <img src="http://c4ccph.org/main/images/stories/icon_c4ccpartner.png">
        <h4>Caregiver-to-Child Ratio:</h4>
        <h5>{{model.ratio}}</h5>
      </div>
    </div>
    <div class="col-md-4 hero-feature">
      <div class="thumbnail">
        <img src="http://blog.boostability.com/wp-content/uploads/2015/05/5-Apps-for-sales-communication.jpg">
        <h4>Contact Information:</h4>
        <li><i class="fa fa-home">: {{model.address}}</i></li>
        <li><i class="fa fa-envelope">: {{model.email}}</i></li>
        <li><i class="fa fa-phone">: {{model.phone}}</i></li>
        <li><i class="fa fa-calendar">: {{model.hours}}</i></li>
        <li>{{model.website}}</li>
      </div>
    </div>
    <div class="col-md-4 hero-feature">
      <div class="thumbnail">
        <img src="http://blog.boostability.com/wp-content/uploads/2015/05/Using-Google-Analytics.jpg">
        <h4>Certifications</h4>
        <p>{{model.certifications}}</p>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <h2>Our Classes</h2>
  {{#if (eq session.uid model.user.id)}}
    {{class-modal daycare=model addClass='addClass'}}
  {{/if}}
  {{#each model.classes as |class|}}
    {{class-tile class=class}}
  {{/each}}
</div>
<hr>
<div class="container">
  <h2>Our Teachers</h2>
    {{#if (eq session.uid model.user.id)}}
      {{teacher-modal daycare=model addTeacher='addTeacher'}}
    {{/if}}
    {{#each model.teachers as |teacher|}}
      {{teacher-tile teacher=teacher}}
    {{/each}}

</div>

<hr>

<div class="container">
  <h2>Reviews</h2>
  {{#if session.isAuthenticated}}
    {{review-modal addReview='addReview' updateRating='updateRating' user=session.user daycare=model}}
  {{/if}}

</div>
